---
layout: base
---
{% assign required_fields = "title,content,attract,image,launch_date,primary_target,arrival_date,instruments,teams,links" | split: "," %}

<div style = "padding:20px">
{% for post in site.posts %}
    {% if post.layout == 'probe' %}
        {% assign missing_fields_flag = "" %}
        <div>
        <h1>{{ post.title }}</h1>
        <p>
            <span style = "color:red"><strong>
            {% for field in required_fields %}
                {% if post[field] %}{% else %}
                    {% assign missing_fields_flag = "true" %}
                    {{ field }},

                {% endif %}
            {% endfor %}
            </strong></span>

            {% if missing_fields_flag == "true" %}{% else %}
                <img src="/resources/img/silhouette/{{ post.image }}" width = "100px">
                <span style = "color:#66CD00">Woo Hoo! No missing fields.</span>
            {% endif %}
        </p>
        <hr>
    </div>
    {% endif %}
{% endfor %}
</div>