<div id="probes" class="row">
{% for probe in site.categories['probes'] %}
    <div data-title = "{{ probe.title }}" data-dsn = "{{ probe.dsn_name }}">
        <a class="col-sm-4 probe" href="{{ probe.url }}">
          <div style="background-color:{{probe.color}};">
            <img src="/resources/img/silhouette/{{ probe.image }}" alt="{{ probe.title }}" class="img-responsive">
            <div class="title">{{ probe.title }}</div>
            <div class="distance"><span class="{{ probe.dsn_name }}">unknown</span> km from Earth</div>
          </div>
        </a>
    </div>
{% endfor %}
</div>
