<div class = "sorting">
    sort by:
    <a href = "" class = "distance sortby_selected">distance</a>
    <a href = "" class = "launch">launch</a>
</div>

<div id="probes" class="row probe_list">
{% for probe in site.categories['probes']%}

    <div class = "{{ probe.title|slugify }} col-sm-4" data-title = "{{ probe.title }}" data-slug = "{{ probe.title|slugify }}" data-id = "{{ probe.title|slugify }}">
        <a class="probe" href="{{ probe.url }}">
          <div style="background-color:{{probe.color}};">
            <img src="/resources/img/silhouette/{{ probe.image }}" alt="{{ probe.title }}" class="img-responsive">
            <div class="title">{{ probe.title }}</div>
            <div class="distance"><span class="{{ probe.title|slugify }}">Unknown</span> km from Earth</div>
          </div>
        </a>
    </div>

{% endfor %}
</div>
