{% if site.lang == 'en' %}
    {% assign lang = "" %}
{% else %}
    {% capture lang %}/{{ site.lang }}{% endcapture %}
{% endif %}

<div class = "sorting" lang = "{{ site.lang }}">
    sort by:
    <a href = "" class = "distance sortby_selected">{% translate global.distance %}</a>
    <a href = "" class = "launch">{% translate global.launch %}</a>
</div>

<div id="probes" class="row">

{% for probe in site.posts]%}
    
    {% if probe.past %}
        {% continue %}
    {% endif %}
    
    {% capture probe_title %}{{ probe.title }}{% endcapture %}
    {% assign new_prope_title = false %}

    <!-- custom probe titles for fussy space probes -->
    {% if probe_title == '2001 Mars Odyssey' %}
        {% assign new_prope_title = "Mars Odyssey" %}
    {% endif %}

    <div class = "{{ probe.title|slugify }} col-sm-4" data-title = "{{ probe.title }}" data-slug = "{{ probe.title|slugify }}" data-id = "{{ probe.title|slugify }}">
        <a class="probe" href="{{ lang }}{{ probe.url }}">
          <div style="background-color:{{probe.color}};">
            <img src="/resources/img/silhouette/{{ probe.image }}" alt="{{ probe.title }}" class="img-responsive">

            <div class="title

            {% if new_prope_title %}
                hidden-sm
            {% endif %}
            ">{{ probe.title }}</div>

            {% if new_prope_title %}
                <div class="title visible-sm">{{ new_prope_title }}</div>
            {% endif %}

            <div class="distance"><span class="{{ probe.title|slugify }}">
                {% translate global.unknown %}</span> 
                km {% translate global.from_earth %}</div>
            </div>

        </a>
    </div>

{% endfor %}
</div>
