{% capture nowiso %}{{'now' | date: '%F'}}{% endcapture %}
{% capture arrivaliso %}{{page.arrival_date | date: '%F'}}{% endcapture %}

<img src="/resources/img/silhouette/{{ page.image }}" alt="{{ page.title }}" class="img-responsive">
<div class="title">{{ page.title }}</div>

<div class = "content">

    {{page.title}} launched into space on <strong>{{page.launch_date}}</strong>
    and is now

    <strong><span class = "distance"><span class="{{ page.title|slugify }}">unknown</span></strong> km from Earth</span>.
    Its primary destination is <strong>{{page.primary_target}}</strong>,

    which

    {% if arrivaliso > nowiso %}
        it's set to arrive at on
    {% else %}
        it arrived at on
    {% endif %}

    {{ page.arrival_date }}.

    {% if page.instruments %}
        Wherever {{ page.title }} goes, it carries its trusty
        <strong>
            {% capture instrument_list %}{{ page.instruments | array_to_sentence_string }}{% endcapture %}
            {% capture and_translated %}{% translate global.and %}{% endcapture %}
            {{ instrument_list | replace:'and', and_translated }}
        </strong>
    {% endif %}

    {% if page.teams %}
        {{ page.title }} often chats with humans from
        <strong>{{ page.teams | array_to_sentence_string }}</strong>.
    {% endif %}
</div>


