{% capture nowiso %}{{'now' | date: '%F'}}{% endcapture %}
{% capture arrivaliso %}{{page.arrival_date | date: '%F'}}{% endcapture %}

<img src="/resources/img/silhouette/{{ page.image }}" alt="{{ page.title }}" class="img-responsive">
<div class="title">{{ page.title }}</div>

<div class = "content">

    {{page.title}}, uzaya <strong>{{page.launch_date}}</strong> tarihinde fırlatışmıştır
    ve şu an Dünya'ya olan uzaklığı 

    <strong><span class = "distance"><span class="{{ page.title|slugify }}">unknown</span></strong> kilometredir.</span>
    <strong>{{page.primary_target}}</strong> aracın ana varış noktasıdır

    ve 

    {% if arrivaliso > nowiso %}
        aracın buraya {{ page.arrival_date }} tarihinde ulaşması planlanmaktadır.
    {% else %}
        araç buraya {{ page.arrival_date }} tarihinde ulaşmıştır.
    {% endif %}
    

    {% if page.instruments %}
        {{ page.title }} nereye giderse gitsin, güvenilir cihazlarını yanında taşır:

        <strong>
            {{ page.instruments | array_to_sentence_string }}.
        </strong>

    {% endif %}

    {% if page.teams %}
        {{ page.title }},
        <strong>{{ page.teams | array_to_sentence_string }}</strong> merkeziyle sık sık haberleşir.
    {% endif %}
</div>


