/* Sticky CSS Footer */
html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-top: 2.0em; padding-bottom: 100px; }
#footer { clear: both; position: relative; z-index: 10; height: 100px; margin-top: -100px; padding-top: 40px;}


a, a:hover {
    color: #77ccc9;
}

#header {
    background: #333;
    color: #bbb;
    font-family: 'Nixie One';
    font-weight: 200;
    padding-bottom: 10px;
}

#header h1 {
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 24px;
}

#header a {
    color: #bbb;
    text-decoration: none;
}

@media (max-width: 768px) {
    #header h1 {
        font-size: 22px;
        margin-top: 18px;
    }

    #probe-detail h1 {
         font-size: 2.0em !important;
    }
}

#menu {
    display: block;
    margin-top: 15px;
    margin-right: 15px;
}

#menu img {
    height: 25px;
    width: 25px;
}

.twitter {
    display: block;
    background: #55acee;
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.twitter img {
    width: 100%;
    padding: 30%;
    padding-top: 33%;
}

#probes {
    margin-left: 0;
}

.probe,
.probe:hover {
    color: #000;
    padding: 0;
    text-decoration: none;
}

.probe>div {
    margin-right: 15px;
    margin-bottom: 3%;
    padding: 10px 20px;
}

.probe img {
    padding: 0px 20px;
}

.probe .title{
    color: #000 !important;
    text-transform: uppercase;
    width: 70%;
    border-bottom: 3px solid #000;
    font-size: 1.4em;
    font-weight: 700;
}

.probe .distance {
    font-size: 0.9em;
    text-transform: uppercase;
}

#probe-detail {
    margin-bottom: 100px;
}

#probe-detail h1 {
    font-family: 'Nixie One';
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.0em;
}

.accent-line {
    display: block;
    width: 100px;
    margin: 15px auto;
    border-top: 3px solid #77ccc9;
}


.fast-easeOutQuad {
    -webkit-transition:  300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); all;
}

#footer {
    background: #f5f2eb;
    font-family: 'Nixie One';
    color: #bbb;
    text-shadow: 1px 1px 1px #fff;
}
