/* Sticky CSS Footer */
html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-top: 2.0em; padding-bottom: 250px; }
#footer { clear: both; position: relative; z-index: 10; height: 150px; margin-top: -150px; padding-top: 20px;}

#header {
    background: #f5f2eb;
    color: #bbb;
    font-family: 'Nixie One';
    font-weight: 200;
    padding-bottom: 10px;
}

.twitter {
    display: block;
    background: #55acee;
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.twitter img {
    width: 100%;
    padding: 30%;
    padding-top: 33%;
}

#content .container-fluid {
    padding-right: 0;
}

.probe,
.probe:hover {
    color: #000;
    padding: 0;
    text-decoration: none;
}

.probe>div {
    margin-right: 15px;
    margin-bottom: 3%;
    padding: 10px 20px;
}

.probe img {
    padding: 0px 20px;
}

.probe .title{
    color: #000 !important;
    text-transform: uppercase;
    width: 70%;
    border-bottom: 3px solid #000;
    font-size: 1.4em;
    font-weight: 700;
}

.probe .distance {
    font-size: 0.9em;
}

.fast-easeOutQuad {
    -webkit-transition:  300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); all;
}
