/* Sticky CSS Footer */
html, body, .wrapper { height: 100%; margin: 0; padding: 0; }
body > .wrapper { height: auto; min-height: 100%; }
#content { padding-top: 2.0em; padding-bottom: 100px; }
#footer { clear: both; position: relative; z-index: 10; height: 100px; margin-top: -100px; padding-top: 40px;}


a, a:hover {
    color: #77ccc9;
}

#header {
    background: #333;
    color: #bbb;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica';
    letter-spacing: 1px;
    font-weight: 300;
    padding-bottom: 10px;
}

#header h1 {
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 24px;
}

#header a {
    color: #bbb;
    text-decoration: none;
}
#logo {
    margin-top: 17px;
    margin-right: 15px;
}

@media (max-width: 768px) {
    #header h1 {
        font-size: 22px;
        margin-top: 18px;
        margin-left: 15px;
    }

    #probe-detail h1 {
         font-size: 2.0em !important;
    }
}

.site-menu {
    display:inline;
    text-transform: uppercase;
    margin-top:15px;
    font-size:90%;
}
.site-menu ul li {
    padding-right:2px;
}
#menu {
    display: block;
    margin-top: -35px;
}

#menu img {
    height: 25px;
    width: 25px;
}

.twitter {
    display: block;
    background: #55acee;
    height: 50px;
    width: 50px;
    margin-top: 0;
    margin-right:-15px;
    margin-bottom:0;
}

.twitter img {
    width: 100%;
    padding: 5%;
    padding-top: 5%;
}

#probes {
    display:none;
    margin-left: 0;
}

.container.frontpage {
    padding:0;
    padding-right:10px;
}

.probe,
.probe:hover {
    color: #000;
    padding: 0;
    text-decoration: none;
}

.frontpage .probe>div {
    margin-bottom: 5px;
    padding: 10px 20px;
}
.frontpage .probe>div {
    margin-bottom: 37px;
}

.probe .sidebar {
    margin:0;
    padding:0;
    padding-top:14px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size:140%;
    color:#505050;
    line-height: 1.5;
}
.probe .sidebar strong {
    font-weight: 700;
}

.probe .sidebar p {
    margin:0;
}
.probe .sidebar a {
    color:#505050;
    text-decoration:underline;
}

.frontpage .probe .sidebar {
    display:none;
}

.sidebar ul li {
    margin-left:-30px;
}

.frontpage .probe img, .sidebar img{
    padding: 15px 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar .content {
    padding:10px 32px;
    padding-bottom:30px;
}
.sidebar .title{
    display:none;
}
.frontpage .probe .title{
    padding:0; margin:0;
    margin-bottom:5px;
    display:inline-block;
    border-bottom: 2px solid #000;
    color: #000 !important;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    width: 70%;
    font-size: 1.6em;
    font-weight: 700;
    white-space: nowrap;
}
.probe .distance {
    font-size: 0.9em;
    text-transform: uppercase;
}

#probe-detail {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

#probe-detail h1 {
    text-align: center;
    font-weight:100;
    color: 262224;
    text-transform: uppercase;
    font-size: 7.0em;
    margin-bottom:5px;
}

#probe-detail p {
    font-size:190%;
    color: #696969;
    line-height: 1.5;
}

#probe-detail .caption {
    font-size: 95%;
    line-height: 1.5em;
}

.link {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size:190%;
    color: #696969;
}


.accent-line {
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-bottom:50px;
    border-top: 4px solid #77ccc9;
}

.latest_news {
    background-color: #D0D0D0;
    min-height:50px;
    margin:40px 0;
    padding:13px;
    font-size:140%;
    color: #505050;
}
.latest_news a {
    color:#505050;
    text-decoration: underline;
}

.fast-easeOutQuad {
    -webkit-transition:  300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); all;
}

.published_date {
    font-size:100%;
}
#footer {
    background: #f5f2eb;
    font-family: 'Roboto Slab';
    color: #bbb;
    text-shadow: 1px 1px 1px #fff;
}
