{% assign months = "Ocak|Şubat|Mart|Nisan|Mayıs|Haziran|Temmuz|Ağustos|Eylül|Ekim|Kasım|Aralık" | split: "|" %}
{% assign m = page.launch_date | date: "%-m" | minus: 1 %}
{% assign launch_day = page.launch_date | date: "%-d" %}
{% assign launch_month = months[m] %}
{% assign launch_year = page.launch_date | date: "%Y" %}
{% capture launch_date %}{{ launch_day }} {{ launch_month }} {{ launch_year }}{% endcapture %}

{% assign m = page.arrival_date | date: "%-m" | minus: 1 %}
{% assign arrival_day = page.arrival_date | date: "%-d" %}
{% assign arrival_month = months[m] %}
{% assign arrival_year = page.arrival_date | date: "%Y" %}
{% capture arrival_date %}{{ arrival_day }} {{ arrival_month }} {{ arrival_year }}{% endcapture %}

{% capture nowiso %}{{'now' | date: '%F'}}{% endcapture %}
{% capture arrivaliso %}{{ page.arrival_date }}{% endcapture %}

<img src="/resources/img/silhouette/{{ page.image }}" alt="{{ page.title }}" class="img-responsive">
<div class="title">{{ page.title }}</div>

<div class = "content">

    {{page.title}} uzaya <strong>{{ launch_date }}</strong> tarihinde fırlatışmıştır
    ve şu an Dünya'ya olan uzaklığı 

    <strong><span class = "distance"><span class="{{ page.title|slugify }}">unknown</span></strong> kilometredir.</span>
    <strong>{{page.primary_target}}</strong> aracın ana varış noktasıdır

    ve 

    {% if arrivaliso > nowiso %}
        aracın buraya {{ arrival_date }} tarihinde ulaşması planlanmaktadır. <!-- Future -->
    {% else %}
        araç buraya {{ arrival_date }} tarihinde ulaşmıştır. <!-- Past -->
    {% endif %}
    

    {% if page.instruments %}
        {{ page.title }} nereye giderse gitsin

        <strong>
            {% capture instrument_list %}{{ page.instruments | array_to_sentence_string }}{% endcapture %}
            {% capture and_translated %}{% translate global.and %}{% endcapture %}
            {{ instrument_list | replace:'and', and_translated }}
        </strong>

        gibi güvenilir aygıtlarını beraberinde götürür.

    {% endif %}

    {% if page.teams %}
        {{ page.title }},
            {% capture teams %}{{ page.teams | array_to_sentence_string }}{% endcapture %}
            {% capture and_translated %}{% translate global.and %}{% endcapture %}
            <strong>
                {{ teams | replace:'and', and_translated }}
            </strong> 
            merkeziyle sık sık haberleşir.
    {% endif %}
</div>