<!doctype html>
<html lang="en">
 <head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59925340-1', 'auto');
  ga('send', 'pageview');

</script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.authors }}">
  <meta name="description" content="{{ site.description }}">
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100' rel='stylesheet' type='text/css'>
  <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/css/style.css" rel="stylesheet">

  <title>spaceprobe.es {{ page.title }}</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script src="/resources/js/main.js"></script>


 </head>
 <body>
  <div class="wrapper">
  <nav id="header" class = "nav navbar-inverse">

    <div class="container">

      <div class="navbar-header">
        <h1><a href="/">spaceprob.es</a></h1>
      </div>

      <div class="collapse navbar-collapse site-menu hidden-xs">

        <a class="twitter nav navbar-text navbar-right pull-right" href="https://twitter.com/{{ site.twitter }}" title="@{{ site.twitter }}"><img src="/resources/img/Twitter_Probe.svg" alt="spaceprobes twitter"></a>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href = "https://www.stickermule.com/marketplace/4230-space-probes">Store</a></li>
          <li><a href = "/about">About</a></li>
        </ul>

      </div>

      <!-- a id="menu" class="pull-right visible-xs"><img src="/resources/img/menu.svg" alt="menu"></a -->

      <a href = "/about" id="menu" class="pull-right visible-xs">About</a>

    </div><!-- /container -->
  </nav>

  <div id="content">
    {{ content }}
  </div>

  </div><!--end wrapper-->

  <div id="footer">
   <div class="container">
     {% include footer.html %}
   </div>
  </div>

 </body>
</html>
