<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.authors }}">
  <meta name="description" content="{{ site.description }}">
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100' rel='stylesheet' type='text/css'>
  <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/css/style.css" rel="stylesheet">

  <title>spaceprobe.es {{ page.title }}</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/resources/js/main.js"></script>


 </head>
 <body>
  <div class="wrapper">
  <nav id="header" class = "nav navbar-inverse">

    <div class="container">

      <div class="navbar-header">
        <h1>{% if page.url == '/index.html' %}spaceprob.es{% else %}<a href="/">spaceprob.es</a>{% endif %}</h1>
      </div>

      <div class="collapse navbar-collapse site-menu hidden-xs">

        <a class="twitter nav navbar-text navbar-right pull-right" href="https://twitter.com/{{ site.twitter }}" title="@{{ site.twitter }}"><img src="/resources/img/Twitter_Probe.svg" alt="spaceprobes twitter"></a>

        <ul class="nav navbar-nav navbar-right">
          <li><a href = "/news">News</a></li>
          <li><a href = "/store">Store</a></li>
          <li><a href = "/about">About</a></li>
        </ul>

      </div>

      <a id="menu" class="pull-right visible-xs"><img src="/resources/img/menu.svg" alt="menu"></a>


    </div><!-- /container -->
  </nav>

  <div id="content">
    {{ content }}
  </div>

  </div><!--end wrapper-->

  <div id="footer">
   <div class="container">
     {% include footer.html %}
   </div>
  </div>

 </body>
</html>
