<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.authors }}">
  <meta name="description" content="{{ site.description }}">
  <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
  <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
  <link href="/resources/css/style.css" rel="stylesheet">
  <title>spaceprobe.es {{ page.title }}</title>
 </head>
 <body>
  <div class="wrapper">
   <div id="header">
    <div class="container-fluid">
     <a id="menu" class="pull-left visible-xs"><img src="/resources/img/menu.svg" alt="menu"></a>
     <h1 class="pull-left">{% if page.url == '/index.html' %}spaceprob.es{% else %}<a href="/">spaceprob.es</a>{% endif %}</h1>
     <a class="twitter pull-right hidden-xs" href="https://twitter.com/{{ site.twitter }}" title="@{{ site.twitter }}"><img src="/resources/img/Twitter_logo_white.png" alt="spaceprobes twitter"></a>
    </div>
   </div>

   <div id="content">
      {{ content }}
   </div>
  </div><!--end wrapper-->

  <div id="footer">
   <div class="container-fluid">
     {% include footer.html %}
   </div>
  </div>
 </body>
</html>
