---
layout: base
---

<div id="probe-detail" class="container">

 {% if page.attract %}
 <div id="attract" class="hidden-xs"><img src="/resources/img/attract/{{ page.attract }}" alt="{{ page.title }}" class="img-responsive"></div>
 {% endif %}

 <h1>{{ page.title}}</h1>
 <hr class="accent-line" style="border-color:{{page.color}};">

  <div class="row">

    <div class="col-sm-4">
      <div class="probe">
        <div style="background-color:{{page.color}};">

          {% include probe.html %}

          <div class = "data"><!-- lorem ipsum -->
            <p>this is some data</p>
            <p>this is more fake data</p>
            <p> and other stuff like data </p>

            {{data}}
          </div><!-- /data -->

        </div><!-- /style -->
      </div><!-- /probe -->
    </div>

    <div class="col-sm-8">

      <div class = "content">
          {{content}}
      </div>

      <div class = "latest_news">
          <b>Latest News:</b><!-- lorem ipsum -->
          To be the first to enter the cosmos, to engage, single-handed,
          in an unprecedented duel with nature—could one dream of anything more?
          <a href = "http://spaceipsum.com/">http://spaceipsum.com</a>
      </div>

      <div class = "explore">
          Worth Exploring:

              <ul><!-- lorem ipsum -->
                <li>blah</li>
                <li>blah</li>
              </ul>

              {{explore}}
      </div>

    </div><!-- /col-sm-8 -->

 </div><!-- /row -->
</div><!-- /probe-detail -->

