---
layout: base
---

<div id="probe-detail" class="container">

 {% if page.attract %}
 <div id="attract" class="hidden-xs"><img src="/resources/img/attract/{{ page.attract }}" alt="{{ page.title }}" class="img-responsive"></div>
 {% endif %}

 <h1>{{ page.title}}</h1>
 <hr class="accent-line" style="border-color:{{page.color}};">

  <div class="row">

    <div class="col-sm-4">
      <div class="probe">
        <div style="background-color:{{page.color}};">

          {% include probe.html %}

          <div class = "data"><!-- lorem ipsum -->
            <ul>
            {% for data in page.data %}
              <li>{{data}}</li>
            {% endfor %}
            </ul>

          </div><!-- /data -->

        </div><!-- /style -->
      </div><!-- /probe -->
    </div>

    <div class="col-sm-8">

      <div class = "content">
          {{content}}
      </div>

        <script>
          url = "http://dry-eyrie-9951.herokuapp.com/{{ page.title }}"
          $.ajax({
              url: url,
              type: 'get',
              dataType: 'jsonp',
              success: function(data) {
                content = '<b>Latest news:<br>' + data.post.title + '</b> ';
                link_label = data.post.link.substring(0, 60) + '...'
                content += '<a href = "' + data.post.link + '">' + link_label + '</a>';
                $('.latest_news').html(content);

              }
          });
          </script>

      <div class = "latest_news">
          <b>Latest news:</b><!-- lorem ipsum -->
          Problems look mighty small from 150 miles up.
          <a href = "http://spaceipsum.com/">http://spaceipsum.com</a>
      </div>

      <div class = "link">
          Worth exploring:

            <ul>
            {% for link in page.links %}
              <li>{{link}}</li>
            {% endfor %}
            </ul>

      </div>

    </div><!-- /col-sm-8 -->

 </div><!-- /row -->
</div><!-- /probe-detail -->

